---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="svg-arrow-right" viewBox="0 0 24 24">
        <title>Expand</title>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </symbol>
</svg>

{% include header.html %}

<div class="main-content-wrap-home">
    <div id="main-content" class="main-content" role="main">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Results Page Head from layout</title>
        </head>
        <div class="search-page-container">
            <aside class="search-page-sidebar">
                <h2>Refine Your Search</h2>
                <div class="version-selector-wrapper" id="version-panel">
                    <version-selector selected="{{ site.data.versions.current }}"></version-selector>
                </div>
                <form id="filters">
                    <label>Category:</label>
                    <div id="category-checkbox">
                        <div>
                            <input type="checkbox" id="category-all" name="category-group" value="All" class="category-checkbox" checked>
                            <label for="category-all">All</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-documentation" name="category-group" value="Documentation" class="category-checkbox">
                            <label for="category-documentation">Documentations</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-nondocs" name="category-group" value="News" class="category-checkbox">
                            <label for="category-nondocs">News</label>
                        </div>
                    </div>
                </form>
                <button id="advanced-search-button" style="background-color: #00509c; color: #fff";     margin-top="10%" type="button">Start Searching</button>
            </aside>
            <div class="search-page-results">
                <input type="text" id="search-results-page-input" placeholder="Search from results page" aria-label="Search {{ site.title }}" data-docs-version="latest" autocomplete="off">
                <main class="search-page-results-main">
                    <h1 id="search-results-header"></h1>
                    <div id="search-results-container">
                    <!-- API results will be displayed here -->
                    </div>
                </main>
            </div>
        </div>
        <!-- <a class="search-page-top-link" href="#top">
            <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        </a> -->
    </div>
</div>

{% include footer.html %}
<script>
    const checkboxes = document.querySelectorAll('.category-checkbox');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                checkboxes.forEach(cb => {
                    if (cb !== this) {
                        cb.checked = false;
                    }
                });
            }
        });
    });
</script>
<script>
    function truncateSentence(sentence, maxLength) {
    if (sentence.length <= maxLength) return sentence;
    let words = sentence.split(' ');
    let truncatedSentence = '';

    for (let i = 0; i < words.length; i++) {
        if (truncatedSentence.length + words[i].length + 1 > maxLength) {
            break;
        }
        if (i > 0) {
            truncatedSentence += ' ';
        }
        truncatedSentence += words[i];
    }
    return truncatedSentence + (truncatedSentence.length < sentence.length ? '...' : '');
}
</script>
<script>
    const searchInput = document.getElementById('search-results-page-input');
    const searchButton = document.getElementById('advanced-search-button');

    function triggerSearch(query) {
      const searchResultsHeader = document.getElementById('search-results-header');
      if (query) {
        query = truncateSentence(query, 20);
        searchResultsHeader.textContent = `Search Results for "${query}"`;
        window.dispatchEvent(new CustomEvent('searchRequested'));
      } else {
        searchResultsHeader.textContent = 'Please input a Query for searching.';
      }
    }

    searchButton.addEventListener('click', function() {
      triggerSearch(searchInput.value.trim());
    });

    searchInput.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
        event.preventDefault();
        triggerSearch(searchInput.value.trim());
    }
});
</script>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script src="{{ '/assets/js/home-listener.js' | relative_url }}"></script>
</body>
</html>
