---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="svg-arrow-right" viewBox="0 0 24 24">
        <title>Expand</title>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </symbol>
</svg>

{% include header.html %}

<div class="main-content-wrap-home">
    <div id="main-content" class="main-content" role="main">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Results Page Head from layout</title>
<!--                <link rel="stylesheet" href="/assets/css/style.css">-->
<!--                <script src="{/assets/js/search.js}"></script>-->
        </head>
        <div class="container">
            <input type="text" id="search-results-page-input"
                   placeholder="Search from results page" aria-label="Search {{ site.title }}"
                   data-docs-version="latest" autocomplete="off"
            >
            <aside class="sidebar">
                <h2>Sidebar body from layout</h2>
                <!-- Add filter options here -->
                <form id="filters">
                    <label>Category:</label>
                    <div id="category-checkbox">
                        <div>
                            <input type="checkbox" id="category-all" name="category-group" value="All" class="category-checkbox" checked>
                            <label for="category-all">All</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-documentation" name="category-group" value="Documentation" class="category-checkbox">
                            <label for="category-documentation">Documentations</label>
                        </div>
                        <div>
                            <input type="checkbox" id="category-nondocs" name="category-group" value="News" class="category-checkbox">
                            <label for="category-nondocs">News</label>
                        </div>
                    </div>
                    <button id="advanced-search-button" type="button">Start Searching</button>
                </form>
            </aside>
            <main class="results">
                <h1 id="search-results-header"></h1>
                <div id="search-results-container">
                    <!-- API results will be displayed here -->
                </div>
            </main>
        </div>
        <a class="top-link" href="#top">
            <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        </a>
    </div>
</div>

{% include footer.html %}
<script>
    const checkboxes = document.querySelectorAll('.category-checkbox');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                checkboxes.forEach(cb => {
                    if (cb !== this) {
                        cb.checked = false;
                    }
                });
            }
        });
    });
</script>
<script>
    const searchInput = document.getElementById('search-results-page-input');
    const searchResultsHeader = document.getElementById('search-results-header');
    const searchButton = document.getElementById('advanced-search-button');

    searchButton.addEventListener('click', function() {
      const searchQuery = searchInput.value.trim();
      if (searchQuery) {
        searchResultsHeader.textContent = `Search Results for "${searchQuery}"`;
      } else {
        searchResultsHeader.textContent = 'Please input a Query for searching.';
      }
      window.dispatchEvent(new CustomEvent('searchRequested'));
    });
</script>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script src="{{ '/assets/js/home-listener.js' | relative_url }}"></script>
</body>
</html>
